<p-dialog [header]="header" [(visible)]="display" [modal]="true" [closable]="false">
  <div class="column gap-1 form-wrapper" [formGroup]="productForm">

    <!-- Name -->
    <div class="row gap-05">
      <span class="price-label">Name:</span>
      <input type="text" formControlName="name" />
    </div>

    <!-- Price -->
    <div class="row gap-05">
      <span class="price-label">Price:</span>
      <input type="text" formControlName="price" />
    </div>

    <!-- Image -->
    <div class="row gap-05">
      <span class="price-label">Image:</span>
      <input type="text" formControlName="image" />
    </div>

    <!-- Rating -->
    <p-rating 
      [(ngModel)]="product.rating" 
      [ngModelOptions]="{standalone: true}"
      [readonly]="false" 
      iconCancelClass="hidden"
      class="rating"
    ></p-rating>
  </div>
  <p-footer>
    <button 
      pButton 
      type="button" 
      icon="pi pi-check" 
      label="Confirm" 
      (click)="onConfirm()"
      [class.disabled]="!productForm.valid"
    ></button>
    <button pButton type="button" icon="pi pi-times" label="Cancel" (click)="onCancel()"></button>
  </p-footer>
</p-dialog>
